@import url(https://fonts.googleapis.com/css?family=Exo:400,700);
.button {
  font-size: 0.9rem;
  letter-spacing: 0.125rem;
  box-sizing: border-box;
  display: flex;
  padding: 0.85rem 1.5rem 0.75rem;
  border: 0;
  outline: 0;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  color: #fff;
  background: #2e3642; }
  .button:hover {
    color: #fff;
    background: #0f1115; }
  .button--small {
    padding: 0.55rem 1rem 0.5rem;
    font-size: 0.8rem; }
  .button--large {
    padding: 1.3rem 2.5rem 1.2rem;
    font-size: 1rem; }

.button--disabled,
input[type='button' i]:disabled,
input[type='submit' i]:disabled,
input[type='reset' i]:disabled,
button:disabled {
  color: #333;
  opacity: 0.3; }

.button--success {
  color: white;
  background-color: #83c736; }
  .button--success:hover {
    color: #fff;
    background: #699f2b; }


.form-controls {
  position: relative;
  display: flex;
  padding: 1rem 0; }
  @media (min-width: 767px) {
    .form-controls {
      padding: 3rem 0; } }
  .form-controls .icon-back {
    display: flex;
    margin-left: -0.5rem; }

.form-multi-step {
  display: flex;
  flex-direction: column;
  height: 100%; }

.form-multi-step__next {
  margin: 2rem auto; }

.form-progress {
  position: relative;
  width: 100%;
  z-index: -1;
  height: 2rem;
  margin-left: 0.8rem; }
  .form-progress__background-bar, .form-progress__indicator-bar {
    top: calc(50% - 2px);
    position: absolute;
    height: 4px; }
  .form-progress__indicator-bar {
    background: #2e3642;
    margin-right: 4px;
    z-index: 2;
    min-width: 0.5rem;
    transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .form-progress__background-bar {
    width: 100%;
    background: #eee;
    z-index: 1; }

.form-step {
  padding: 2rem 0;
  width: 100%;
  margin-bottom: auto;
  padding-bottom: 6rem; }

.table {
  text-align: left;
  margin: 2rem 0 2.5rem; }

.table__row {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 1rem 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: -1px;
  grid-gap: 1rem; }
  @media (min-width: 767px) {
    .table__row {
      grid-template-columns: 1fr auto; } }

.table__label {
  opacity: 0.5; }

.table__value {
  color: #333; }

.table__column {
  display: grid;
  grid-template-columns: 1fr; }
  @media (min-width: 767px) {
    .table__column {
      grid-template-columns: auto 1fr;
      grid-gap: 1rem; } }

.icon-back polygon {
  transition: all 0.3s ease-in-out; }

.icon-success__path {
  -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
  animation: checkmark 0.25s ease-in-out 0.7s backwards; }

.icon-success__circle {
  -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
  animation: checkmark-circle 0.6s ease-in-out backwards; }

@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px; }
  100% {
    stroke-dashoffset: 0; } }

@-ms-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes checkmark {
  0% {
    stroke-dashoffset: 50px; }
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px; }
  100% {
    stroke-dashoffset: 480px; } }

@-ms-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px; }
  100% {
    stroke-dashoffset: 480px; } }

@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px; }
  100% {
    stroke-dashoffset: 480px; } }


.input-control__label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 2rem;
  text-align: center; }

.input-control__info,
.input-control__errors {
  margin-bottom: 1rem;
  text-align: center; }

.input-control--danger {
  position: relative; }
  .input-control--danger .input-control__errors {
    position: absolute;
    top: 2.5rem;
    left: 0;
    right: 0;
    color: #ca5037;
    margin-bottom: 0.5rem; }
  .input-control--danger input {
    border-color: #ca5037; }

.input-control--success input {
  border-color: #83c736; }

.input-radio {
  background-color: initial;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  height: 0.9rem;
  width: 0.9rem;
  text-align: center;
  display: inline-flex;
  position: relative;
  margin-right: 0.5rem; }

.input-control-radio {
  display: inline-flex;
  padding: 0 1.5rem;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
  align-items: center;
  justify-items: center;
  border-radius: 2rem;
  color: #333;
  border: 1px solid rgba(204, 204, 204, 0.5);
  background-color: white;
  box-shadow: 0 2px 1rem 0 rgba(0, 0, 0, 0.05);
  transition: border-color 0.25s ease-in-out, box-shadow 0.15s ease-in-out; }
  .input-control-radio .input-control__label {
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    margin-bottom: 0;
    padding: 0.9rem 0 0.75rem 0;
    cursor: pointer; }
  .input-control-radio.input-control--checked {
    border-color: #83c736;
    box-shadow: 0 4px 1rem 0 rgba(0, 0, 0, 0.1); }
    .input-control-radio.input-control--checked .input-control__label {
      font-weight: 700; }

.input-control-select-radio__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.input-control-submit__submit {
  margin: 0 auto; }

.input-text,
.input-email {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem 0.5rem;
  font-size: 1.25rem;
  line-height: 2rem;
  background-clip: padding-box;
  border-radius: 0.25rem;
  color: #333;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 4px 1rem 0 rgba(0, 0, 0, 0.05);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center; }

.input-control-text,
.input-control-email {
  max-width: 480px;
  margin: 0 auto; }


.form-success {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow-y: scroll;
  text-align: center; }
  .form-success__container {
    margin: auto;
    padding: 4rem 0 8rem 0;
    width: 100%; }

.form-success__reset {
  margin: 0 auto; }

/**
*
* Imports
*/
/**
*
* Reset
*/
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Exo', 'Sans-serif';
  font-size: 16px;
  font-weight: 400;
  line-height: 2rem;
  color: #2e3642; }
  @media (min-width: 767px) {
    html,
    body {
      font-size: 18px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: 'Exo', 'Sans-serif';
  font-weight: 700;
  color: #2e3642;
  line-height: 3rem; }

h1 {
  font-size: 3em;
  line-height: 3rem; }

h2 {
  font-size: 2.5em;
  line-height: 3rem; }

h3 {
  font-size: 2em;
  line-height: 3rem; }

h4 {
  font-size: 1.5em;
  line-height: 2rem; }

h5 {
  font-size: 1.25em;
  line-height: 2rem; }

h6 {
  font-size: 1em;
  line-height: 2rem; }

a {
  color: #b4b1a9; }
  a:hover {
    color: #847f73; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

small {
  font-size: 0.85rem;
  line-height: 1rem;
  display: inherit; }

hr {
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 1px #b4b1a9;
  margin: 2rem 0; }

input {
  margin-bottom: 1rem; }

input,
button,
select,
option {
  font-family: 'Exo', 'Sans-serif'; }

label {
  font-weight: 700;
  font-size: 0.8rem; }

/**
*
* Components
*/
.content {
  padding: 3rem;
  background: #eee; }

.container {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0 1rem; }
  @media (min-width: 767px) {
    .container {
      padding: 0 4rem;
      max-width: 840px; } }

.app {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%; }
  .app > .container {
    height: 100%; }

