@import '../../variables';

.button {
	font-size: 0.9rem;
	letter-spacing: 0.125rem;
	box-sizing: border-box;
	display: flex;
	padding: 0.85rem 1.5rem 0.75rem;
	border: 0;
	outline: 0;
	background: $color-border;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;

	&--large {
		padding: 1.3rem 2.5rem 1.2rem;
		font-size: 1rem;
	}
}

.button--disabled,
input[type='button' i]:disabled,
input[type='submit' i]:disabled,
input[type='reset' i]:disabled,
button:disabled {
	color: $color-grey-dark;
	opacity: 0.3;
}

.button--success {
	color: white;
	background-color: $color-success;
}
