@import '../../variables';

.table {
	text-align: left;
	margin: 2rem auto 2.5rem;
}

.table__row {
	display: grid;
	grid-template-columns: 1fr 3fr auto;
	padding: 1rem 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin-bottom: -1px;

	@media (min-width: 767px) {
		grid-template-columns: 1fr 3fr auto;
	}
}

.table__row__label {
	opacity: 0.5;
}

.table__row__value {
	color: #333;
}
