@import '../../variables';

.table {
	text-align: left;
	margin: 2rem 0 2.5rem;
}

.table__row {
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 1rem 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin-bottom: -1px;
	grid-gap: 1rem;

	@media (min-width: 767px) {
		grid-template-columns: 1fr auto;
	}
}

.table__row__label {
	opacity: 0.5;
}

.table__row__value {
	color: #333;
}

.table__row__column {
	display: grid;
	grid-template-columns: 1fr;

	@media (min-width: 767px) {
		grid-template-columns: auto 1fr;
		grid-gap: 1rem;
	}
}
