@import '../../variables';

.form-progress {
	position: relative;
	width: 100%;
	z-index: -1;
	height: 2rem;
	margin-left: 0.8rem;

	&__background-bar,
	&__indicator-bar {
		top: calc(50% - 2px);
		position: absolute;
		height: 4px;
	}

	&__indicator-bar {
		background: $color-primary;
		margin-right: 4px;
		z-index: 2;
		transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	&__background-bar {
		width: 100%;
		background: $color-grey-light;
		z-index: 1;
	}
}
