.input-group__label {
	font-size: 1.5rem;
	display: inline-flex;
	margin-bottom: 1rem;
}

.input-group__info {
	margin-bottom: 1rem;
}

.input-group--danger,
.input-select--danger {
	small {
		color: #f55;
	}
	input {
		border-color: #f55;
	}
}

.input-group--success,
.input-select--success {
	small {
		color: #2d7;
	}
	input {
		border-color: #2d7;
	}
}
