@import '../../variables';

.input-control__label {
	font-size: 1.5rem;
	display: block;
	margin-bottom: 1rem;
	text-align: center;
}

.input-control__info {
	margin-bottom: 1rem;
	text-align: center;
}

.input-control--danger,
.input-select--danger {
	small {
		color: $color-danger;
	}
	input {
		border-color: $color-danger;
	}
}

.input-control--success,
.input-select--success {
	small {
		color: $color-success;
	}
	input {
		border-color: $color-success;
	}
}
