@import '../../variables';

.input-control__label {
	font-size: 1.5rem;
	display: block;
	margin-bottom: 1rem;
	text-align: center;
}

.input-control__info,
.input-control__errors {
	margin-bottom: 1rem;
	text-align: center;
}

.input-control--danger {
	.input-control__errors {
		color: $color-danger;
	}
	input {
		border-color: $color-danger;
	}
}

.input-control--success {
	input {
		border-color: $color-success;
	}
}
