/**
*
* Imports
*/

@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

/**
*
* Reset
*/

// https://hackernoon.com/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
	outline: none;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Exo', 'Sans-serif';
	font-size: 16px;
	font-weight: 400;
	line-height: 2rem;
	color: $color-primary;

	@media (min-width: 767px) {
		font-size: 18px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-family: 'Exo', 'Sans-serif';
	font-weight: 700;
	color: $color-primary;
	line-height: 3rem;
}

h1 {
	font-size: 3em;
	line-height: 3rem;
}
h2 {
	font-size: 2.5em;
	line-height: 3rem;
}
h3 {
	font-size: 2em;
	line-height: 3rem;
}
h4 {
	font-size: 1.5em;
	line-height: 2rem;
}
h5 {
	font-size: 1.25em;
	line-height: 2rem;
}
h6 {
	font-size: 1em;
	line-height: 2rem;
}

a {
	color: $color-grey;

	&:hover {
		color: darken($color-grey, 20%);
	}
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

small {
	font-size: 0.85rem;
	line-height: 1rem;
	display: inherit;
}

hr {
	outline: 0;
	border: 0;
	box-shadow: 0 0 0 1px $color-grey;
	margin: 2rem 0;
}

input {
	margin-bottom: 1rem;
}

input,
button,
select,
option {
	font-family: 'Exo', 'Sans-serif';
}

label {
	font-weight: 700;
	font-size: 0.8rem;
}

/**
*
* Components
*/

.layout {
	display: grid;
	height: 100vh;

	@media (min-width: 767px) {
		grid-template-columns: repeat(8, 1fr);

		.content {
			grid-column: 1/3;
		}

		.form-multi-step {
			grid-column: 3/9;
		}
	}

	@media (min-width: 1280px) {
		.content {
			grid-column: 1/4;
		}

		.form-multi-step {
			grid-column: 4/9;
		}
	}
}

.content {
	padding: 3rem;
	background: #eee;
}

.container {
	width: 100%;
	max-width: 540px;
	margin: 0 auto;
	padding: 0 2rem;

	@media (min-width: 767px) {
		padding: 0 4rem;
		max-width: 720px;
	}
}
